/* 3.2 about section */
.about-item {
    width: 30%;
    float: left;
    text-align: center;
    border: 2px solid #e7e4e4d8;
    padding: 50px 10px;
 }
 
 .about-item.mg {
    margin: 0 5%;
 }
 
 .about-item .icon {
    color: var(--maincolor);
    margin-bottom: 10px;
 }
 
 .about-item-title {
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 20px;
    transition: color 0.5s;
 }
 
 .about-item-desc {
    line-height: 1.6;
    margin-bottom: 10px;
    color: var(--graycolor) ;
 }
 
 .about-item-link {
    color: var(--maincolor);
    text-transform: capitalize;
 }
 .about-item:hover .about-item-title {
    color: var(--whitecolor);
 }
 