/* 3.0 header */
.header {
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .header .logo{
    width: 40%;
    float: left;
 }
 
 .header .logo img {
    width: 20%;
    margin-top: 8px;
 }
 
 .header .nav{
    width: 60%;
    float: left;
    text-align: right;
 }
 
 .header .nav > li {
    display: inline-block;
    text-align: right;
 }
 
 .header .nav > li > a {
    color: var(--whitecolor);
    display: block;
    padding: 20px 8px;
    font-size: 13px;
    
 }
 
 .header .nav .dropdown .dropdown-menu > li{
    list-style: none;
 }
 .header .nav > li > a.active::after ,.header .nav > li > a::after {
    content: "";
    display: block;
    height: 2px;
    background-color: var(--maincolor);
    transition:width 0.2s;
    margin-top: 4px;
 }
 
 .header .nav > li > a.active::after {
    width: 100%;
 }
 .header .nav > li > a::after {
    width: 0%;
 }
 
 .header .nav > li > a:hover::after {
    width: 100%;
 }
 
 .dropdown {
    position: relative;
 }
 .dropdown-menu {
    position: absolute;
    background-color: var(--maincolor);
    width: 150px;
    text-align: center;
    left: -70%;
    top:80%;
    opacity: 0;
    visibility: hidden; 
    transition: opacity 0.9s, visibility 0.5s;
 }
 
 .dropdown-menu a {
    color: var(--whitecolor);
    display: block;
    padding: 10px;
 }
 
 .dropdown:hover .dropdown-menu { /* dropdown-menu هاتلى dropdownلما اشاور على  */
    opacity: 1; 
   visibility: visible;
 }